
# default search algorithm
# 0 -> a min turns, 1-> save space, 2-> combined, 3-> longest path???
chosen_search = 2 
# parameter to choose when change strategy
choice_sensibility = 4

# safe path strategy
# 0 -> no, 1 -> yes
safe_cycle = 1

# space optimization search
# 0 -> nothing, 1-> longest path
chosen_optimization = 1

# weight for the A* heuristic
weights = [1,0.2,0.2,0.2]
