# search algorithm: 0 -> a min turns, 1-> save space, 2-> combined, 3-> longest path
chosen_search = 2 
# parameter to choose when to change search algorithm
choice_sensibility = 3
# wheter to use a safe cycle: 0 -> no, 1 -> yes
safe_cycle = 1
# wheter to perform space optimization search: 0 -> no, 1-> yes
chosen_optimization = 1
# weights for the weighted A* heuristic
weights = [1,1,1,1] 