
# default search algorithm
# 0->a min turns, 1-> save space, 2-> combined, 3-> longest path???
chosen_search = 2 

# safe path strategy
# 0 -> no, 1 -> yes
safe_cycle = 1

# space optimization search
# 0 -> nothing, 1-> longest path
chosen_optimization = 1

# weight for the A* heuristic
self.weights = [0,0,0,0]
# parameter to choose when change strategy
self.choice_sensibility = 4